# ===============================
# Python / Packaging
# ===============================
__pycache__/
*.py[codz]
*$py.class
*.so

.Python
build/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ===============================
# Virtual Environments
# ===============================
.venv/
env/
venv/
ENV/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Testing / Coverage
# ===============================
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/

# ===============================
# IDE / Editors
# ===============================
.vscode/
.idea/
.spyderproject
.spyproject

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# DATASETS (IMPORTANT)
# ===============================
PlantVillage/
PlantVillage_split/

# ===============================
# Logs
# ===============================
*.log
